USE [OnlineShopShoes]
GO
/****** Object:  Table [dbo].[chitietDatHang]    Script Date: 01/04/2022 6:24:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitietDatHang](
	[OrderID] [int] NOT NULL,
	[spID] [int] NOT NULL,
	[soluong] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[spID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[khachHang]    Script Date: 01/04/2022 6:24:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachHang](
	[khID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[TaxCode] [nvarchar](10) NULL,
	[SDT] [nvarchar](50) NULL,
	[Diachi] [nvarchar](max) NULL,
	[Email] [nvarchar](200) NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PassWord] [nvarchar](100) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[khID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 01/04/2022 6:24:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[lspID] [nvarchar](50) NOT NULL,
	[lspName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[lspID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 01/04/2022 6:24:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[nvID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](max) NULL,
	[NgaySinh] [smalldatetime] NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SDT] [nvarchar](20) NULL,
	[image] [nvarchar](max) NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
 CONSTRAINT [PK_staff] PRIMARY KEY CLUSTERED 
(
	[nvID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaSanXuat]    Script Date: 01/04/2022 6:24:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaSanXuat](
	[nhasanxuatID] [nvarchar](50) NOT NULL,
	[nhasanxuatName] [nvarchar](max) NULL,
	[qgID] [nvarchar](50) NULL,
 CONSTRAINT [PK_manufacturer] PRIMARY KEY CLUSTERED 
(
	[nhasanxuatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orderpro]    Script Date: 01/04/2022 6:24:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orderpro](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [smalldatetime] NULL,
	[khID] [int] NULL,
	[nvID] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuocGia]    Script Date: 01/04/2022 6:24:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuocGia](
	[qgID] [nvarchar](50) NOT NULL,
	[qgName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Nation] PRIMARY KEY CLUSTERED 
(
	[qgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 01/04/2022 6:24:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[spID] [int] IDENTITY(1,1) NOT NULL,
	[spName] [nvarchar](max) NULL,
	[spMieuta] [nvarchar](max) NULL,
	[spNgaySanXuat] [smalldatetime] NULL,
	[lspID] [nvarchar](50) NULL,
	[nhasanxuatID] [nvarchar](50) NULL,
	[gia] [numeric](18, 0) NULL,
	[Images] [nvarchar](200) NULL,
	[Size] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[spID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[chitietDatHang] ([OrderID], [spID], [soluong]) VALUES (24, 270, 1)
INSERT [dbo].[chitietDatHang] ([OrderID], [spID], [soluong]) VALUES (25, 32, 1)
INSERT [dbo].[chitietDatHang] ([OrderID], [spID], [soluong]) VALUES (26, 31, 1)
SET IDENTITY_INSERT [dbo].[khachHang] ON 

INSERT [dbo].[khachHang] ([khID], [Name], [TaxCode], [SDT], [Diachi], [Email], [UserName], [PassWord]) VALUES (1014, N'test', N'1', N'12', N'ttn', N'nhom5web18dthc1@gmail.com', N'test', N'202cb962ac59075b964b07152d234b70')
INSERT [dbo].[khachHang] ([khID], [Name], [TaxCode], [SDT], [Diachi], [Email], [UserName], [PassWord]) VALUES (1016, N'Hồ Trung Đông', N'01', N'0337293205', N'Tây Ninh', N'nhom5web18dthc1@gmail.com', N'dong', N'202cb962ac59075b964b07152d234b70')
INSERT [dbo].[khachHang] ([khID], [Name], [TaxCode], [SDT], [Diachi], [Email], [UserName], [PassWord]) VALUES (1023, N'hotrungdong', N'01', N'0337293205', N'TayNinh', N'nhom5web18dthc1@gmail.com', N'g5', N'202cb962ac59075b964b07152d234b70')
SET IDENTITY_INSERT [dbo].[khachHang] OFF
INSERT [dbo].[LoaiSanPham] ([lspID], [lspName]) VALUES (N'1', N'Giay')
INSERT [dbo].[LoaiSanPham] ([lspID], [lspName]) VALUES (N'2', N'Dep')
INSERT [dbo].[LoaiSanPham] ([lspID], [lspName]) VALUES (N'3', N'Wear')
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([nvID], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SDT], [image], [username], [password]) VALUES (5, N'Dong', CAST(N'2000-01-09 00:00:00' AS SmallDateTime), 1, N'TayNinh', N'1', N'b.JPG', N'dong', N'd6a9a933c8aafc51e55ac0662b6e4d4a')
INSERT [dbo].[NhanVien] ([nvID], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SDT], [image], [username], [password]) VALUES (10, N'tranthihaiyen', CAST(N'2000-01-09 00:00:00' AS SmallDateTime), 1, N'tphcm', N'0337293205', N'2.jpg', N'haiyen', N'c20ad4d76fe97759aa27a0c99bff6710')
INSERT [dbo].[NhanVien] ([nvID], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SDT], [image], [username], [password]) VALUES (11, N'a', CAST(N'2000-01-09 00:00:00' AS SmallDateTime), NULL, N'tay', N'123', NULL, N'dong', N'202cb962ac59075b964b07152d234b70')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
INSERT [dbo].[NhaSanXuat] ([nhasanxuatID], [nhasanxuatName], [qgID]) VALUES (N'1', N'Jordan', N'3')
INSERT [dbo].[NhaSanXuat] ([nhasanxuatID], [nhasanxuatName], [qgID]) VALUES (N'10', N'Sweater', N'2')
INSERT [dbo].[NhaSanXuat] ([nhasanxuatID], [nhasanxuatName], [qgID]) VALUES (N'11', N'Balo', N'3')
SET IDENTITY_INSERT [dbo].[Orderpro] ON 

INSERT [dbo].[Orderpro] ([OrderID], [OrderDate], [khID], [nvID], [Status]) VALUES (23, CAST(N'2021-07-23 00:00:00' AS SmallDateTime), 1014, 5, 2)
INSERT [dbo].[Orderpro] ([OrderID], [OrderDate], [khID], [nvID], [Status]) VALUES (24, CAST(N'2021-07-24 00:00:00' AS SmallDateTime), 1014, 5, 2)
INSERT [dbo].[Orderpro] ([OrderID], [OrderDate], [khID], [nvID], [Status]) VALUES (25, CAST(N'2021-07-24 00:00:00' AS SmallDateTime), 1014, 5, 3)
SET IDENTITY_INSERT [dbo].[Orderpro] OFF
INSERT [dbo].[QuocGia] ([qgID], [qgName]) VALUES (N'1', N'Việt Nam')
INSERT [dbo].[QuocGia] ([qgID], [qgName]) VALUES (N'2', N'Anh')
INSERT [dbo].[QuocGia] ([qgID], [qgName]) VALUES (N'3', N'Mĩ')
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([spID], [spName], [spMieuta], [spNgaySanXuat], [lspID], [nhasanxuatID], [gia], [Images], [Size]) VALUES (3, N'ADIDAS YEEZY BOOST 350 V2 ISRAFIL', N'ADIDAS YEEZY BOOST 350 V2 ISRAFIL', CAST(N'2020-05-03 00:00:00' AS SmallDateTime), N'1', N'3', CAST(6200000 AS Numeric(18, 0)), N'ADIDAS YEEZY BOOST 350 V2 ISRAFIL.jpg', NULL)
INSERT [dbo].[SanPham] ([spID], [spName], [spMieuta], [spNgaySanXuat], [lspID], [nhasanxuatID], [gia], [Images], [Size]) VALUES (4, N'ADIDAS YEEZY BOOST 700 V2 ''CREAM''', N'ADIDAS YEEZY BOOST 700 V2 ''CREAM''', CAST(N'2020-02-01 00:00:00' AS SmallDateTime), N'1', N'3', CAST(5000000 AS Numeric(18, 0)), N'ADIDAS YEEZY BOOST 700 V2 ''CREAM''.jpg', NULL)
INSERT [dbo].[SanPham] ([spID], [spName], [spMieuta], [spNgaySanXuat], [lspID], [nhasanxuatID], [gia], [Images], [Size]) VALUES (6, N'AIR FORCE 1-1 GS WHITE SUMMER 2020', N'AIR FORCE 1-1 GS WHITE', CAST(N'2020-02-01 00:00:00' AS SmallDateTime), N'1', N'2', CAST(2600000 AS Numeric(18, 0)), N'AIR FORCE 1-1 GS WHITE.jpg', NULL)
GO
SET IDENTITY_INSERT [dbo].[SanPham] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Customer]    Script Date: 01/04/2022 6:24:58 CH ******/
ALTER TABLE [dbo].[khachHang] ADD  CONSTRAINT [IX_Customer] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chitietDatHang]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orderpro] ([OrderID])
GO
ALTER TABLE [dbo].[chitietDatHang] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[chitietDatHang]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([spID])
REFERENCES [dbo].[SanPham] ([spID])
GO
ALTER TABLE [dbo].[chitietDatHang] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[NhaSanXuat]  WITH CHECK ADD  CONSTRAINT [FK_Manufacturer_Nation] FOREIGN KEY([qgID])
REFERENCES [dbo].[QuocGia] ([qgID])
GO
ALTER TABLE [dbo].[NhaSanXuat] CHECK CONSTRAINT [FK_Manufacturer_Nation]
GO
ALTER TABLE [dbo].[Orderpro]  WITH CHECK ADD  CONSTRAINT [FK_Order_Staff] FOREIGN KEY([nvID])
REFERENCES [dbo].[NhanVien] ([nvID])
GO
ALTER TABLE [dbo].[Orderpro] CHECK CONSTRAINT [FK_Order_Staff]
GO
ALTER TABLE [dbo].[Orderpro]  WITH CHECK ADD  CONSTRAINT [FK_Orderpro_Customer] FOREIGN KEY([khID])
REFERENCES [dbo].[khachHang] ([khID])
GO
ALTER TABLE [dbo].[Orderpro] CHECK CONSTRAINT [FK_Orderpro_Customer]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_Product_Manufacturer] FOREIGN KEY([nhasanxuatID])
REFERENCES [dbo].[NhaSanXuat] ([nhasanxuatID])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_Product_Manufacturer]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_Product_Type] FOREIGN KEY([lspID])
REFERENCES [dbo].[LoaiSanPham] ([lspID])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_Product_Type]
GO
