@model G5_Website_giay.Models.QuocGia

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            NationID:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qgID)
        </dd>

        <dt>
           Nation:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qgName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.qgID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
